# virtual environment
.venv/

# results
.results/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# IDE settings
.vscode/
.idea/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Notebook output
**/*.ipynb
!**/*.ipynb
**/.ipynb_checkpoints/
**/*_files/
**/*.html

# Clear notebook outputs